<div class="bg-gray-900 text-white min-h-screen">
  <div class="container mx-auto px-4 py-8 md:py-12">
    <div class="flex flex-col gap-8">
      <% if @blogs.current_page == 1 %>
        <div class="flex justify-between items-center">
          <div>
            <h2 class="text-2xl font-bold">Search results for "<%= params[:key] %>"</h2>
            <p class="text-gray-400">Showing <%= @blogs.total_count %> results</p>
          </div>
        </div>
      <% end %>

      <%= turbo_frame_tag "search-list-page-#{@blogs.current_page}" do %>
        <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-8">
          <% @blogs.each do |blog| %>
            <%= render 'blogs/blog_card', blog: blog %>
          <% end %>
        </div>

        <% if @blogs.next_page.present? %>
          <%= turbo_frame_tag "search-list-page-#{@blogs.next_page}", loading: "lazy", src: search_results_path(key: params[:key], page: @blogs.next_page) do %>
            <div class="flex justify-center py-6">
              <div class="animate-spin rounded-full h-8 w-8 border-b-2 border-white"></div>
            </div>
          <% end %>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
