<div class="bg-gray-950 dark:bg-gray-950 min-h-screen">
  <div class="container mx-auto py-12 md:py-16 lg:py-20">
    <article class="prose prose-invert max-w-3xl mx-auto dark:prose-invert">
      <nav class="flex py-2 px-5 max-h-[45px] text-gray-700 border border-gray-200 rounded-lg bg-gray-50 dark:bg-gray-800 dark:border-gray-700 my-4" aria-label="Breadcrumb">
        <div class="inline-flex items-center space-x-1 md:space-x-2 rtl:space-x-reverse">
          <div class="inline-flex items-center">
            <%= link_to "#{@blog.name}", blog_path(@blog), class: "inline-flex items-center text-sm font-medium text-gray-700 hover:text-blue-600 dark:text-gray-400 dark:hover:text-white" %>
          </div>
          <div>
            <div class="flex items-center">
              <svg class="rtl:rotate-180 block w-3 h-3 mx-1 text-gray-400 " aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 6 10">
                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 9 4-4-4-4"/>
              </svg>
              <%= link_to "#{@post.title}", blog_post_path(@blog, @post), class: "ms-1 text-sm font-medium text-gray-700 hover:text-blue-600 md:ms-2 dark:text-gray-400 dark:hover:text-white" %>
            </div>
          </div>
        </div>
      </nav>
      <div class="space-y-4 not-prose">
        <h1 class="text-4xl font-extrabold tracking-tight lg:text-5xl break-words text-white"><%= @post.title %></h1>
        <div class="flex items-center space-x-4 text-sm text-gray-400 dark:text-gray-400">
          <%= link_to "#{@post.user.profile.full_name}", profile_path(@post.user.profile), class: 'text-gray-200 hover:underline' %>
          <div>•</div>
          <div>Published on <%= @post.created_at.strftime('%F') %></div>
        </div>
      </div>
      <%= @post.body %>
    </article>
  </div>
</div>