<nav class="relative sticky z-[100] bg-white dark:bg-gray-900 fixed w-full z-20 top-0 start-0 border-b border-gray-200 dark:border-gray-600"
     data-controller="header"
     data-header-user-signed-in="<%= user_signed_in? %>"
     data-header-base-url="<%= request.base_url %>"
     data-header-new-blog-url="<%= url_for(new_blog_path) %>"
>
  <div class="max-w-screen-2xl flex flex-wrap items-center justify-between mx-auto p-4">
    <%= link_to root_path, class: "flex items-center space-x-3 rtl:space-x-reverse" do %>
      <%= appIcon %>
      <span class="self-center text-2xl font-semibold whitespace-nowrap dark:text-white">Blogapp</span>
    <% end %>
    <div class="flex md:order-2 space-x-3 md:space-x-0 rtl:space-x-reverse">
      <div class="flex space-x-4">

        <%= form_with url: search_path, method: :get do |f| %>
          <%= f.label :key, "Search", class: 'sr-only' %>
          <div class="relative mt-1 lg:w-96">
            <div class="flex absolute inset-y-0 left-0 items-center pl-3 pointer-events-none">
              <svg class="w-4 h-4 text-gray-500 dark:text-gray-400" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 20 20"> <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m19 19-4-4m0-7A7 7 0 1 1 1 8a7 7 0 0 1 14 0Z"/> </svg>
            </div>
            <%= f.text_field :key, class: 'bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-primary-500 focus:border-primary-500 block w-full pl-9 p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500', placeholder: "Search for blogs", data: { action: 'blur->header#submitSearchForm'}, value: params[:key]  %>
            <%= f.submit class: 'hidden', id: 'blog-search-submit' %>
          </div>
        <% end %>

        <% if current_user&.blogs&.count == 0 || !user_signed_in? %>
          <button type="button"
                  class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-4 py-2 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800"
                  data-action="click->header#onCreateYourOwnBlogClicked"
          >
            Create your own blog
          </button>
        <% end %>
        <% if user_signed_in? %>
          <div class="relative flex text-sm bg-gray-800 rounded-full md:me-0 focus:ring-4 focus:ring-gray-300 dark:focus:ring-gray-600 flex justify-center" type="button">
            <span class="sr-only">Open user menu</span>
            <button id="dropdownUserAvatarButton" data-action="click->header#expandUserDropdown">
              <%= image_tag url_for(current_user.profile.avatar), class: 'w-8 h-8 rounded-full' if current_user.profile.avatar.attached? %>
            </button>
            <div id="user-dropdown" class="absolute mt-10 z-10 hidden bg-white divide-y divide-gray-100 rounded-lg shadow w-44 dark:bg-gray-700 dark:divide-gray-600">
              <div class="px-4 py-3 text-sm text-gray-900 dark:text-white">
                <div><%= current_user.profile.full_name %></div>
                <div class="font-medium truncate"><%= current_user.email %></div>
              </div>
              <ul class="py-2 text-sm text-gray-700 dark:text-gray-200" aria-labelledby="dropdownUserAvatarButton">
                <li>
                  <%= link_to "My blogs", my_blogs_dashboard_index_url, class: 'block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white' %>
                </li>
                <li>
                  <%= link_to "Settings", dashboard_index_path, class: "block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white" %>
                </li>
              </ul>
              <div class="py-2">
                <%= link_to "Sign out", destroy_user_session_path, data: { 'turbo-method': 'delete' }, class: "block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 dark:hover:bg-gray-600 dark:text-gray-200 dark:hover:text-white" %>
              </div>
            </div>
          </div>
        <% else %>
          <button type="button"
                  class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-4 py-2 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800"
                  data-action="click->header#onCreateYourOwnBlogClicked"
          >
            Sign up
          </button>
        <% end %>
      </div>
    </div>
    <div class="items-center justify-between hidden w-full md:flex md:w-auto order-1" id="navbar-sticky">
      <ul class="absolute flex flex-col p-4 md:p-0 mt-4 font-medium border border-gray-100 rounded-lg bg-gray-50 md:space-x-8 rtl:space-x-reverse md:flex-row md:mt-0 md:border-0 md:bg-white dark:bg-gray-800 md:dark:bg-gray-900 dark:border-gray-700">
        <%
          activeElement = "block py-2 px-3 text-white bg-blue-700 rounded md:bg-transparent md:text-blue-700 md:p-0 md:dark:text-blue-500"
          inactiveElement = "block py-2 px-3 text-gray-900 rounded hover:bg-gray-100 md:hover:bg-transparent md:hover:text-blue-700 md:p-0 md:dark:hover:text-blue-500 dark:text-white dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent dark:border-gray-700"
        %>
        <li>
          <%= link_to "Home", root_path, class: "#{controller_name == "home" && action_name == "index" ? activeElement : inactiveElement}" %>
        </li>
        <li>
          <%= link_to "About", about_path, class: "#{controller_name == "home" && action_name == "about" ? activeElement : inactiveElement}" %>
        </li>
        <li>
          <%= link_to "Blogs", root_path, class: "#{controller_name == "home" && action_name == "blogs" ? activeElement : inactiveElement}" %>
        </li>
      </ul>
    </div>
  </div>
</nav>

<%= render "modal/modal", locals: { content: "modal/login_modal", id: 'login-modal'} %>
